@import url('https://fonts.googleapis.com/css2?family=Agu+Display&display=swap');
body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    background-color: #27262b;
}
.history{
    display: flex;
    justify-content: center;
    color: yellow;
    font-family:"Agu Display",serif;
    font-size: 50px;
    padding-top: 20px;
}
.main_container{
    display: flex;
    height: 80%;
    align-items: center;
    justify-content: center;
}
.main{
    width: 575px;
    height: 550px;
}
.history2{
    width: 575px;
    height: 400px;
    display: grid;
    grid-template-columns:75px 75px 275px 75px 75px;
    grid-auto-rows: 50px;
}
.header_history{
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
    border: yellow 1px solid;
    border-radius: 2px;
    background-color:#36343b ;
    flex-direction: column;
}
.templates{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border:white 1px solid;
    background-color: #36343b;
}

.return_container{
    display: flex;
    justify-content: center;
}
.return{
    background-color: #27262b;
    border:yellow 1px solid;
    color: white;
    height: 40px;
    width: 200px;
}
.return:hover{
    cursor: pointer;
    opacity: 0.6;
}
.return:active{
    background-color: grey;
}